body {
  margin: 0;
  padding: 0;
  color: #40514E;
  height: 100%;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

p {
    line-height: 2;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.8rem;
  color: #726e9a;
}

.programmer {
  font-size: 2rem;
  color: #726e9a;
  font-weight: normal;
  padding-bottom: 50px;
}

h2 {
  font-size: 2rem;
  color: #726e9a;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #8f8caf;
  font-size: 1.7rem;
}

a {
  color: #8f8caf;
  text-decoration: none;
}

hr {
  margin: 70px auto;
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  width: 5%;
}

.btn {
  background:    #D9D7F1;
  border-radius: 20px;
  padding:       10px 30px;
  color:         #ffffff;
  font:          'Merriweather Sans', sans-serif;
  text-align:    center;
}

.btn:hover {
  background:   #726e9a;
}

.header {
  background: linear-gradient(to bottom, #D9D7F1, #FFFDDE);
  position: relative;
  padding-top: 300px;
}

.top-cloud {
position: absolute;
right: 300px;
top: 140px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 320px;
}

.mountain {
  margin-bottom: -4px;
}

.profilepic {
  margin: 50px 0 20px 0;
  width: 15%;
}

.intro {
  width: 70%;
  margin: 0 auto;
}

.heart {
  width: 20px;
  margin: 0 3px;
}

.profile a:hover {
color: #FFCBCB;
}

.web {
  width: 50%;
  text-align: left;
  margin: 90px auto;
}

.photo, .video, .fashion {
  margin: 120px auto;
  width: 50%;
  text-align: left;
}

.paint {
  width: 50%;
  margin: 110px auto 50px;
  text-align: left;
}

.web-img, .video-img, .paint-img {
  width: 15%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.photo-img, .fashion-img {
  width: 15%;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
}

.bottom-container {
padding: 30px 0 10px 0;
background: #726e9a;
color: white;
z-index: 10;
position: relative;
margin-top: -5px;
}

.bottom-container img {
  width: 20px;
  margin-right: 10px;
}

.bottom-container a {
  margin: 40px;
  color: #d3d3d3;

}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  height: 50px;
}

.bottom-container a:hover {
  color: white;
}

.copy {
  font-size: 1rem;
}

.contact-me {
  margin-bottom: 70px;
}

.contact-message {
  width: 70%;
  margin: 40px auto 60px;
}

.clara {
  margin-bottom: -4px;
  margin: 0;
  padding: 0;
  width: 20%;
  z-index: 1;
  position: relative;
}


@media screen and (max-width: 1200px) {

  h3 {
    font-size: 1.5rem;
  }

  .profilepic {
    width: 20%;
  }

  .web, .photo, .video, .fashion, .paint {
    width: 65%;
    margin-top: 110px;
  }

  .web-img, .video-img, .paint-img, .photo-img, .fashion-img {
    width: 20%;
  }

  .clara {
    width: 30%;
  }

}

@media screen and (max-width: 615px) {

  h3 {
    font-size: 1.2rem;
  }

 .header {
   padding-top: 250px;
 }

  .top-cloud {
  right: 250px;
  top: 100px;
  }

  .bottom-cloud {
    left: 200px;
    bottom: 220px;
  }

  .mountain {
    width: 95%;
  }

  .profilepic{
    width: 25%;
  }

  .intro {
    width: 80%;
    margin: 0 auto;
  }

.web, .photo, .video, .fashion, .paint {
  width: 70%;
  margin-top: 100px;
}

  .web-img, .video-img, .paint-img, .photo-img, .fashion-img {
    width: 24%;
  }

  .clara {
    width: 50%;
  }
}
