* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

.navigation {
    position: fixed;
    /* Fixiert die Navigation oben auf der Seite */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    z-index: 100;
    /* Über allen anderen Elementen */
    mix-blend-mode: difference;
    background: transparent !important;
  }
  
  .navigation.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navigation.show {
    animation: fadeIn 0.3s forwards;
}

.hero-section {
    position: relative;
    /* Damit das Overlay sich relativ zur Hero-Section positioniert */
    width: 100%;
    height: 100vh;
    background-image: url(../img/backgroundProjects2.webp);
    background-size: cover;
    background-position: center;
    color: #fbfbfb;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    /* Schwarz-transparentes Overlay */
    z-index: 1;
    /* Unterhalb des Textinhalts, aber über dem Hintergrundbild */
}

.main-contentHeroSection {
    position: relative;
    /* Damit der Textinhalt über dem Overlay bleibt */
    z-index: 2;
    /* Über dem Overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 12%;
    margin: 0 12%;
}

.scroll-down-button {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.scroll-down-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.scroll-down-button svg {
    margin-bottom: 0.3rem;
    fill: rgba(255, 255, 255, 1);
    transition: fill 0.3s ease;
}

.scroll-down-button:hover svg {
    fill: rgba(0, 0, 0, 1);
    /* Füllt das SVG beim Hover-Effekt schwarz */
}

.scroll-down-button.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

.logo,
.menu-button img {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: contain;
  mix-blend-mode: difference;
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheadline {
    font-size: 4.2rem;
    font-weight: 700;
    /* Regular */
    letter-spacing: 0.08em;
    /* 8% Letter Spacing */
    color: #fbfbfb;
}

.headlineHero {
    font-size: 5rem;
    letter-spacing: 0.08em;
    /* 8% Letter Spacing */
    font-weight: 700;
    line-height: 1;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: #ed61ad;
}

.headline1 {
    font-size: 4.2rem;
    letter-spacing: 0.05em;
    /* 5% Letter Spacing */
    font-weight: 700;
    line-height: 1.25;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: #fbfbfb;
}

.headline2 {
    font-size: 4.2rem;
    letter-spacing: 0.05em;
    /* 5% Letter Spacing */
    font-weight: 700;
    line-height: 1.25;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: #2b2b2b;
}

.highlightBlack {
    color: #2b2b2b;
    /* Dark gray text color */
}

.highlightPink {
    color: #ed61ad;
}

.mainTextBlack {
    font-size: 1.1rem;
    max-width: 44rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    /* Light */
    color: #2b2b2b;
    /* Dark gray text color */
    line-height: 1.5;
    /* 125% line height */
    letter-spacing: 0.15em;
    /* 15% letter spacing */
    margin-bottom: 3.5rem;
}

.mainTextWhite {
    font-size: 1.1rem;
    max-width: 44rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    /* Light */
    color: #fbfbfb;
    line-height: 1.5;
    /* 125% line height */
    letter-spacing: 0.15em;
    /* 15% letter spacing */
    margin-bottom: 3.5rem;
}

.btn-primary,
.btn-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    /* Sollte der Schriftgröße oder mehr entsprechen */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    /* Padding gleichmäßig lassen */
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-align: center;
    /* Text zentrieren */
    vertical-align: middle;
    /* Vertikale Ausrichtung in der Mitte */
}

.a {
    padding: 0;
}

.btn-primary {
    color: #fbfbfb;
    border: solid 2px #fbfbfb;
}

.btn-primary:hover {
    border: solid 2px #ed61ad;
}

.btn-secondary {
    background-color: #fbfbfb;
    color: #2b2b2b;
}

.btn-secondary:hover {
    background-color: #ed61ad;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-contentHeroSection .subheadline,
.main-contentHeroSection .headlineHero {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.main-contentHeroSection .subheadline {
    animation-delay: 0.2s;
}

.main-contentHeroSection .headlineHero {
    animation-delay: 0.4s;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 24%;
    background-color: black;
    color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 50px;
    z-index: 105;
}

.side-menu.open {
    transform: translateX(0);
}

.close-button {
    position: absolute;
    top: 30px;
    left: 50px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fbfbfb;
    font-size: 2rem;
    opacity: 0.5;
    /* 50% opacity */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.close-button:hover {
    transform: scale(1.3);
    /* Vergrößern um 30% */
    opacity: 1;
    /* 100% opacity */
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 100px;
}

.menu-link {
    font-size: 1.5rem;
    /* Font size 32px = 2rem */
    text-transform: uppercase;
    /* Uppercase text */
    line-height: 1.25;
    /* 125% line height */
    letter-spacing: 0.15em;
    /* 15% letter spacing */
    text-decoration: none;
    color: #fbfbfb;
    font-weight: 400;
    /* Regular */
    position: relative;
}

.menu-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 50%;
    background-color: #ed61ad;
    /* Pink color */
    transition: all 0.3s ease-out;
    transform: translateX(-50%);
}

.menu-link:hover::after {
    width: 80%;
}

/* Project Section Black */

.project-section-black {
    background-color: #2b2b2b;
    padding: 12% 12%;
}

.project-content-black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.project-image {
    width: 50%;
    border-radius: 8px;
}

.project-info {
    width: 45%;
}

.project-buttons-black {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

/* Project Section White */

.project-section-white {
    background-color: #fbfbfb;
    padding: 12% 12%;
}

.project-content-white {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.project-info {
    width: 45%;
}

.project-image {
    width: 50%;
    border-radius: 8px;
}

.project-buttons-white {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.btn-primary-white {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #2b2b2b;
    border: 2px solid #2b2b2b;
    cursor: pointer;
}

.btn-primary-white:hover {
    border: 2px solid #ed61ad;
}

.btn-secondary-white {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    border-radius: 0.25rem;
    background-color: #2b2b2b;
    color: #fbfbfb;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btn-secondary-white:hover {
    color: #fbfbfb;
    background-color: #ed61ad;
}

/* SCROLL UP BUTTON */

.scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(237, 97, 173, 0.3);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
    opacity: 0;
    /* Initially hidden */
    visibility: hidden;
    /* Initially hidden */
}

.scroll-up-button:hover {
    background-color: rgba(237, 97, 173, 1);
}

.scroll-up-button.show {
    opacity: 1;
    visibility: visible;
}

/* FOOTER SECTION */

.footer {
    letter-spacing: 0.05em;
    background: linear-gradient(135deg,
            #535353,
            #333333,
            #1d1d1d,
            #743557,
            #b54883);
    color: #fbfbfb;
    padding: 2rem 12%;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    /* Allow wrapping for smaller screens */
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-menu {
    display: flex;
    gap: 3rem;
}

.footer-link {
    font-weight: 600;
    line-height: 1.25;
    color: #fbfbfb;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #ed61ad;
}

.footer-divider {
    border: none;
    height: 1px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0));
    opacity: 0.2;
    margin: 2rem 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-copyright {
    letter-spacing: 0.05em;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #bfbfbf;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-link-secondary {
    letter-spacing: 0.05em;
    color: #bfbfbf;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-link-secondary:hover {
    color: #ed61ad;
}

.footer-social {
    display: flex;
    gap: 1rem;
}

.btn-social-footer {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: transparent;
    /* Transparent background */
    border-radius: 50%;
    /* Makes the buttons circular */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    border: none;
    /* Remove default border */
}

.btn-social-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    /* Inherits the border-radius */
    padding: 1px;
    /* Space for the gradient border */
    background: linear-gradient(135deg,
            #ffe2f2,
            #ed61b7);
    /* Adjust the gradient here */
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 1;
    /* Ensure this is above the background but below the content */
}

.btn-social-footer img {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 2;
    /* Ensure the image is above the pseudo-element */
}

.btn-social-footer:hover {
    background-color: #ed61b7;
    /* Pink background color on hover */
}

.btn-social-footer:hover::before {
    background: #ed61b7;
    /* Change border color on hover */
}

.btn-social-footer:hover img {
    filter: brightness(0) invert(1);
    /* Make the icon white on hover */
}

/*MEDIA QUERIES*/

@media (max-width: 1200px) {
    .navigation {
        padding: 40px;
    }

    .headline1,
    .headline2,
    .headlineHero,
    .subheadline {
        font-size: 3.5rem;
    }

    .headlineHero {
        font-size: 4rem;
    }

    .mainTextBlack,
    .mainTextWhite {
        font-size: 1rem;
    }

    .btn-primary,
    .btn-secondary,
    .btn-secondary-white,
    .btn-primary-white {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .navigation {
        padding: 25px;
    }

    .side-menu {
        width: 30%;
    }

    .menu-links {
        gap: 80px;
    }

    .menu-link {
        font-size: 1.2rem;
    }

    .headline1,
    .headline2,
    .subheadline {
        font-size: 3rem;
    }

    .headlineHero {
        font-size: 3.5rem;
    }

    .mainTextBlack,
    .mainTextWhite {
        font-size: 0.9rem;
    }

    .btn-primary,
    .btn-secondary,
    .btn-secondary-white,
    .btn-primary-white {
        font-size: 0.9rem;
    }
}

@media (min-width: 769px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
    }
}

@media (max-width: 768px) {
    .navigation {
        padding: 15px 20px;
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(0, 0, 0, 0) 100%);
    }

    .hero-section::before {
        background: rgba(0, 0, 0, 0.1);
        /* Schwarz-transparentes Overlay */
    }

    .logo {
        height: 1.5rem;
        width: 1.5rem;
    }

    .menu-button img {
        height: 1.5rem;
        width: 1.5rem;
    }

    .side-menu {
        width: 100%;
        font-size: 1rem;
    }

    .close-button {
        font-size: 1.5rem;
    }

    .headline1,
    .headline2,
    .subheadline {
        font-size: 2.5rem;
    }

    .headlineHero {
        font-size: 3rem;
        color: #fff;
    }

    .mainTextBlack,
    .mainTextWhite {
        font-size: 0.9rem;
    }

    .btn-primary,
    .btn-secondary,
    .btn-secondary-white,
    .btn-primary-white {
        font-size: 0.8rem;
        padding: 0.7rem 1rem;
    }
}

@media (max-width: 576px) {
    .buttons-hero {
        margin-top: 15px;
    }

    .headline1,
    .headline2,
    .subheadline {
        font-size: 2rem;
    }

    .headlineHero {
        font-size: 2.5rem;
    }

    .mainTextBlack,
    .mainTextWhite {
        font-size: 0.8rem;
    }

    .btn-primary,
    .btn-secondary,
    .btn-secondary-white,
    .btn-primary-white {
        font-size: 0.6rem;
    }
}

@media (max-width: 360px) {

    .headline1,
    .headline2,
    .subheadline {
        font-size: 1.5rem;
    }

    .headlineHero {
        font-size: 2rem;
    }
}

/* SCROLL UP BUTTON */

@media (min-width: 1400px) {
    .scroll-up-button {
        width: 70px;
        height: 70px;
    }

    .scroll-up-button svg {
        width: 30px;
        height: 30px;
    }
}

/* ProjectSections */

@media (min-width: 1455px) and (max-width: 1635px) {

    .project-content-black,
    .project-content-white {
        transform: scale(0.9);
        /* Verkleinert die gesamte Sektion proportional */
        transform-origin: top center;
        /* Skaliert von der Mitte nach oben */
    }

    .headline1,
    .headline2 {
        font-size: 3.8rem;
        /* Reduziert die Größe der Headline */
    }

    .mainTextWhite,
    .mainTextBlack {
        font-size: 0.9rem;
        /* Reduziert die Textgröße */
    }

    .btn-primary,
    .btn-secondary,
    .btn-primary-white,
    .btn-secondary-white {
        font-size: 1.1rem;
        /* Verkleinert die Button-Textgröße */
        padding: 0.5rem 1.2rem;
        /* Verkleinert die Buttons */
    }

    .project-image {
        width: 45%;
        /* Verkleinert die Breite des Bildes */
    }
}

@media (max-width: 1455px) {
    .headline1 {
        margin-top: 12%;
    }

    .headline1,
    .headline2 {
        margin-bottom: 20px;
    }

    .project-content-white .project-image {
        margin-top: 10%;
        margin-bottom: 4%;
    }

    .mainTextWhite,
    .mainTextBlack {
        margin-bottom: 2rem;
    }

    .project-content-black,
    .project-content-white {
        flex-direction: column;
        /* Stapelt die Inhalte übereinander */
        align-items: flex-start;
        /* Richtet die Inhalte linksbündig aus */
    }

    .project-info {
        width: 100%;
        /* Text nimmt die volle Breite ein */
        margin-bottom: 20px;
        /* Abstand zum Bild */
    }

    .project-buttons-black,
    .project-buttons-white {
        flex-direction: row;
        /* Buttons nebeneinander */
        gap: 20px;
        margin-top: 50px;
        /* Abstand zwischen Text und Buttons */
    }

    .project-image {
        width: 100%;
        /* Bild nimmt die volle Breite ein */
        margin-top: 20px;
        /* Abstand zum Text */
    }

    .scroll-up-button {
        width: 40px;
        height: 40px;
    }

    .scroll-up-button svg {
        width: 20px;
        height: 20px;
    }
}

/* SCROLL UP BUTTON */

@media (min-width: 1400px) {
    .scroll-up-button {
      width: 70px;
      height: 70px;
    }
  
    .scroll-up-button svg {
      width: 30px;
      height: 30px;
    }
  }

/* SCROLL DOWN BUTTON */

@media (max-width: 768px) {
    .scroll-down-button {
        width: 60px;
        height: 60px;
    }

    .scroll-down-button svg {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px) {
    .scroll-down-button {
        width: 50px;
        height: 50px;
    }

    .scroll-down-button svg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 360px) {
    .scroll-down-button {
        width: 40px;
        height: 40px;
    }

    .scroll-down-button svg {
        width: 20px;
        height: 20px;
    }
}


/* MEDIA QUERIES FOR FOOTER */
@media (max-width: 768px) {
    .footer-top {
        justify-content: space-between;
        gap: 1rem;
        /* Add space between elements */
        flex-wrap: nowrap;
        /* Prevent wrapping */
    }

    .footer-logo {
        width: 35px;
        /* Reduce logo size */
        height: 35px;
    }

    .footer-menu {
        gap: 1rem;
        /* Reduce gap between links */
    }

    .footer-link {
        font-size: 0.8rem;
        /* Reduce font size for links */
    }

    .footer-divider {
        margin: 1rem 0;
        /* Reduce margin for the divider */
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        /* Align copyright and social links at opposite ends */
        flex-wrap: wrap;
    }

    .footer-copyright {
        order: 1;
        width: 100%;
        margin-bottom: 3rem;
        /* Add space below copyright on smaller screens */
        text-align: left;
    }

    .footer-links {
        gap: 1rem;
        order: 2;
        width: 50%;
        /* Left-aligned section for links */
        text-align: left;
    }

    .footer-link-secondary {
        font-size: 0.7rem;
    }

    .footer-social {
        order: 3;
        width: 50%;
        /* Right-aligned section for social icons */
        text-align: right;
        justify-content: flex-end;
        gap: 0.5rem;
        /* Reduce gap between social icons */
    }

    .btn-social-footer {
        width: 40px;
        /* Reduce button size */
        height: 40px;
    }

    .btn-social-footer img {
        width: 20px;
        /* Reduce icon size */
        height: 20px;
    }
}

@media (max-width: 360px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        /* Zentrieren des Inhalts */
    }

    .footer-logo {
        margin-bottom: 1rem;
        /* Abstand zwischen Logo und Menü */
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        /* Abstand zwischen den Links verringern */
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        /* Abstand zwischen den Elementen */
    }

    .footer-links,
    .footer-social {
        width: 100%;
        text-align: center;
        justify-content: center;
        gap: 1rem;
    }

    .footer-copyright {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer-social {
        margin-top: 1.5rem;
    }
}